<div class="container border border-black rounded shadow-lg text-center p-4 w-96">
    <div class="border p-2 border-black hover:text-white hover:bg-green-400"><a routerLink="/add-item" routerLinkActive="active">ADD ITEMS</a></div>
    <div  class="border p-2 border-black  hover:text-white hover:bg-green-400"><a routerLink="/delete-item" routerLinkActive="active">DELETE ITEMS</a></div>
    <div  class="border  p-2 border-black  hover:text-white hover:bg-green-400"><a routerLink="/update-item" routerLinkActive="active">UPDATE ITEMS</a></div>
</div>